.photo-grid__container {
  display: grid;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
  margin-bottom: 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid__container {
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
  }
}

@media (max-width: 768px) {
  .photo-grid__container {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 88px;
  }
}

@media (max-width: 520px) {
  .photo-grid__container {
    row-gap: 12px;
    column-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
  }
}
