.header__langs-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: currentColor;
}

.header__langs-link:last-of-type {
  border: none;
}

@media (max-width: 320px) {
  .header__langs-link {
    font-size: 18px;
    line-height: 20px;
  }
}